html{
    margin: 0;
    background-color: #050042;
}

html,body{
    font-family: monofur, Helvetica, Arial, sans-serif;
    color:white;
}

body{
    margin:0 auto;
    max-width:960px;
}

@font-face {
    font-family: 'monofur';
    font-style: normal;
    font-weight: normal;
    src: local('monofur'), url('/fonts/monof55.woff') format('woff');
}
    
@font-face {
    font-family: 'monofur italic';
    font-style: normal;
    font-weight: normal;
    src: local('monofur italic'), url('/fonts/monof56.woff') format('woff');
}