.mainContent{
    display:block;
    margin-left:100px; 
    padding: 0 5rem;
}

/* title */

.contentTitle{
    margin:0 auto;
    padding: 20% 0 5rem 0;
    text-align:left;
    display:block;
}

.contentTitle h1{
    font-size:50px;
    font-weight:normal;
    text-decoration:none;
    color:rgb(120,120,120);
    margin-bottom: 1rem;
}

.contentTitle h3{
    font-weight: normal;
    text-decoration:none;
    font-size:45px;
}

.contentTitle p{
    font-weight: normal;
    text-decoration:none;
    font-size:20px;
}

.contentTitle a{
    text-decoration:none;
    font-weight:normal;
    font-size:20px;
    color:rgb(76,144,184);
}