* {
    margin: 0;
    padding: 0;
}

html{
    margin: 0;
    height:100%;
    background: rgb(245,245,247);
    background-repeat:no-repeat;
    background-attachment: fixed;
    scroll-behavior: smooth;
}

body{
    margin:0 auto;
    max-width:100%;
}

.centerImage{
    margin-left:auto;
    margin-right:auto;
    display: block;
    max-width:500px;
    margin-top:7%;
}

.mainImage{
    width:100%;    
    
}

