@font-face {
    font-family: 'monofur';
    font-style: normal;
    font-weight: normal;
    src: local('monofur'), url('/assets/fonts/monof55.woff') format('woff');
}
    
@font-face {
    font-family: 'monofur italic';
    font-style: normal;
    font-weight: normal;
    src: local('monofur italic'), url('/assets/fonts/monof56.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
}

html{
    margin: 0;
    height:100%;
    background: rgb(2,2,2);
    overscroll-behavior-y: none;
    overscroll-behavior-x: none;
}

html,body{
    font-family: monofur, Helvetica, Arial, sans-serif;
    color:white;
}

body{
    margin:0 auto;
    max-width:960px;
}