@font-face {
    font-family: 'Lora';
    font-style: normal;
    font-weight: normal;
    src:url('/assets/fonts/Lora-Regular.ttf') format('woff');
}

* {
    margin: 0;
    padding: 0;
}

html{
    margin: 0;
    height:100%;
    background-color: rgb(234,234,234);
    background-image: url("../assets/images/background_grid.png");
    background-repeat:repeat;
    background-size:contain;
}

html,body{
    font-family: Lora, 'Times New Roman', Times, serif;
    color:black;
}

body{
    margin:0 auto;
}

.preload-transitions * {  
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

.hidden{
    opacity:0;
    filter: blur(1px);
    /* transform: translateX(-100%); */
    transition:all 1s;
}

.show{
    opacity:1;
    filter: blur(0);
    /* transform: translateX(0); */
}

@media(prefers-reduced-motion) {
    .hidden{
        transition:none;
    }
}