html{
    scroll-behavior: smooth;

}

.navigation-bar{
    display:block;
    height:52px;
    position:fixed;
    width:100%;
    top:0;
    z-index:101;
    backdrop-filter: blur(10px);
    border-bottom: 0.5px solid rgba(255,255,255,0.1);
}

.nav-bar-flex{
    display:flex;
    max-width: 1024px;
    margin: 0 auto;
}

.nav-bar-left{
    font-size: 21px;
    font-weight: 600;
    padding: 14px 14px 14px 25px;
    display:flex;
}

.nav-bar-filler{
    flex-grow: 1;
    display:flex;
    height:52px;
}

.nav-bar-right{
    font-size:12px;
    font-weight:400;
    padding:10px;
    height:100%;
    display:flex;
}

.nav-bar-right a{
    height:22px;
    padding: 5px 5px 5px 15px;
    color:white;
    text-decoration:none;
    transition: all 0.1s linear;
    display:flex;
    align-items: center;
}

.nav-bar-right a:hover{
    color:lightgray;
}

.contact-button{
    padding: 5px 15px !important;
    height:15px !important;
    margin: 3px 15px;
    border: 1px solid white;
    border-radius:15px;
    background-color: rgba(255,255,255,0.1);
    border: 0.1px solid rgba(255,255,255,0.3);
}

.contact-button:hover{
    color:white !important;
    text-shadow: 0px 0px 2px rgba(0,0,0,0.5);
    background-color: rgba(255, 255, 255, 0.15);
    border: 0.1px solid rgba(255,255,255,0.5);
}

.content{
    width:100%;
    display:block;
    max-width: 1024px;
    margin: 0 auto;
}

.hero-gradient-1{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    z-index:-1;
    background: radial-gradient(at top right, rgba(54,22,65,1) 0%, rgba(0, 0, 0, 0)60%);
}

.hero-gradient-2{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    z-index:-1;
    background: radial-gradient(at top left, rgb(28, 22, 65) 0%, rgba(0, 0, 0, 0)60%);
}

.hero-content{
    width:100%;
    height:90vh;
    display:flex;
    align-items: center;
    justify-content: center;
}

.hero-center{
    width:100%;
    height:100%;
}

.signature-animation {
    stroke-dasharray: 4000;
    stroke-dashoffset: 8000;
    animation: dash 10s linear forwards infinite;
}

@keyframes dash {
    to { stroke-dashoffset: 0; }
}

.intro-bottom{
    width:100%;
    height:10vh;
    display:flex;
    align-items: top;
    justify-content: center;
}

.frost-button{
    text-align:top;
    border-radius: 20px;
    width:fit-content;
    height:35px;
    display:block;
    backdrop-filter: blur(5px);
    background-color: rgba(255,255,255,0.1);
    border: 0.1px solid rgba(255,255,255,0.1);
}

.frost-button p{
    font-size:15px;
    display:block;
    float:left;
    padding:8.5px 15px 5px 25px;
    color:white;
    text-decoration: none;
}

.frost-button img{
    width:26px;
    height:26px;
    display:block;
    float:right;
    padding:4.5px 20px 4.5px 0;
}

.intro-content{
    width:100%;
    height:60vh;
    display:flex;
    align-items: end;
    justify-content: center;
}

.intro-center h1{
    font-size: clamp(50px, 80px, 10vw);
    font-weight:600;
    text-align:center;
    background: linear-gradient(to right, #BE23ff, #F026B2, #FF981F);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.intro-center h3{
    font-size: clamp(30px, 50px, 7vw);
    font-weight:600;
    text-align:center;
}

.intro-center-filler{
    display:block;
    height:12vh;
    content:"";
}

.latest-content{
    width:100%;
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    background: rgb(54,22,65);
    background: radial-gradient(circle, rgb(14, 36, 22) 0%, rgba(0,0,0,1) 80%);
}

.latest-center h3{
    font-size: clamp(20px, 30px, 5vw);
    font-weight:600;
    text-align:center;
}

.latest-center h1{
    font-size: clamp(50px, 80px, 10vw);
    font-weight:600;
    text-align:center;
    background: linear-gradient(to right, #3CE85D, #02F7F5);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.latest-content-description{
    font-size:15px;
    font-weight:400;
    text-align:center;
    width:80%;
    margin: 0 auto;
    /* padding-bottom: 1rem; */
}

.latest-center a{
    margin: 0 auto;
}

.interests-content{
    width:100%;
    height:60vh;
    height:fit-content;
    display:flex;
    align-items: center;
    justify-content: center;
    background: rgb(0,0,0);
}

.interests-center{
    width:100%;
}

.interests-center h3{
    font-size: clamp(30px, 40px, 7vw);
    width:fit-content;
    font-weight:600;
    text-align:center;
    margin: 0 auto;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    padding-bottom:0.3rem;
}

.interests-color-1{
    background-color:white;
}
.interests-color-2{
    background: linear-gradient(to right, #A000FF, #00FFD5);
}
.interests-color-3{
    background: linear-gradient(to right, #9B00FF, #12C6F3);
}
.interests-color-4{
    background: linear-gradient(to right, #C900FF, #1298F3);
}

.about-content{
    width:100%;
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    background: rgb(54,22,65);
    background: radial-gradient(circle, rgb(5, 31, 43) 0%, rgba(0,0,0,1) 80%);
}

.about-center h2{
    font-size: clamp(25px, 45px, 8vw);
    font-weight:600;
    text-align:center;
}

.about-content-grid{
    display:grid;
    width: clamp(78%, 80%, 100%);
    margin: 0 auto;
    grid-gap: 10px;
    grid-template-rows: 10vh 10vh 10vh;
    grid-template-columns: 2.5fr 1.5fr;
    grid-template-areas: 
        '✨ 🚻'
        '✨ 📶'
        '✨ 🎶';
}

.about-text{
    grid-area: ✨;
}

.about-text p{
    margin-bottom: 5px;
    font-size: clamp(18px, 21px, 3vw);
    color:grey;
    font-weight:500;
}

.highlight-text{
    color:white;
}

.about-stat p{
    font-size: 18px;
    font-weight: 600;
    text-align:right;
}

.about-stat h3{
    font-size: clamp(30px, 40px, 7vw);
    text-align:right;
    background: linear-gradient(to right, #2BFFB4, #6CBCF2);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

@media only screen and (max-width: 600px) {
    .about-content{
        height:125vh;
    }
    
    .about-content-grid{
        display:block;
    }

    .about-stat{
        margin: 1rem 0;
    }

    .about-stat p,.about-stat h3{
        text-align:left;
    }
}

.skills-content{
    width:100%;
    height:50vh;
    display:flex;
    align-items: center;
    justify-content: center;
}

.skills-center h2{
    font-size: clamp(25px, 45px, 8vw);
    font-weight:600;
    text-align:center;
}

.skills-content-grid{
    display:grid;
    width: clamp(78%, 80%, 100%);
    margin: 0 auto;
    grid-gap: 10px;
    grid-template-rows: fit-content fit-content fit-content;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        '✨ 🕸️'
        '✨ 🖼️'
        '✨ 🧱';
}

.skills-text{
    grid-area: ✨;
}

.skills-text p{
    margin-bottom: 5px;
    font-size: clamp(18px, 21px, 3vw);
    color:grey;
    font-weight:500;
}

.skills-stat{
    padding-left:50px;
}

.skills-stat h3{
    font-size: clamp(30px, 40px, 7vw);
    text-align:left;
    background: linear-gradient(to right, #FFBB00, #D1FF00);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.skills-stat p{
    font-size: 18px;
    font-weight: 500;
    text-align:left;
}

@media only screen and (max-width: 600px) {
    .skills-content{
        height:100vh;
    }
    
    .skills-content-grid{
        display:block;
    }

    .skills-stat{
        margin: 1rem 0;
        padding:0;
    }
}

.contact-content{
    width:100%;
    height:75vh;
    display:flex;
    align-items: center;
    justify-content: center;
    background: rgb(54,22,65);
    background: radial-gradient(at bottom, rgb(42, 43, 5) 0%, rgba(0,0,0,1) 80%);
}

.contact-center h2{
    font-size: clamp(40px, 45px, 9vw);
    font-weight:600;
    text-align:center;
    padding-bottom:1rem;
}

.contact-content-grid{
    display:grid;
    width: fit-content;
    margin: 0 auto;
    grid-gap: 30px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.contact-content-grid a{
    width:120px;
    height:120px;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius:30px;
    background-color: rgba(255,255,255,0.1);
    border: 0.1px solid rgba(255,255,255,0.3);
    transition: all 0.1s linear;
}

.contact-content-grid a:hover{
    background-color: rgba(255,255,255,0.15);
    border: 0.1px solid rgba(255,255,255,0.5);
}

footer{
    background: rgb(54,22,65);
    background: radial-gradient(at top, rgb(24, 24, 3) 0%, rgba(0,0,0,1) 70%);
    border-top: 0.2px solid rgba(255,255,255,0.3);
    color:rgb(242, 242, 242);
}

.footer-grid{
    width: clamp(50%, 60%, 100%);
    margin:0 auto;
    height:fit-content;
    display:grid;
    padding:30px 0 80px 0;
    grid-template-columns: 1fr 1fr 0.4fr;
    grid-template-rows:1fr;
    grid-template-areas: 
        '🆔 🅰️ 🅱️';
}

@media only screen and (max-width: 600px) {
    .contact-content-grid{
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    .footer-grid{
        width: clamp(80%, 85%, 100%);
        grid-template-rows: fit-content 1fr;
        grid-template-columns: 1fr 1fr;
        /* padding: 0; */
        grid-template-areas: 
        '🆔 🆔'
        '🅰️ 🅱️';
    }
}

.footer-about{
    grid-area: 🆔;
    padding-right:20px;
    padding-bottom:30px;
}

.footer-about h3{
    font-size:50px;
    color:white;
}

.footer-about p{
    font-size:16px;
    padding-bottom:5px;
}

.footer-site{
}

.footer-site ul, .footer-social ul{
    list-style-type: none;
}

.footer-site ul li, .footer-social ul li{
    padding-bottom:5px;
}

.footer-site ul li a, .footer-social ul li a{
    color:rgb(187, 187, 187);
    text-decoration: none;
    transition: all 0.15s linear;
}

.footer-site ul li a:hover, .footer-social ul li a:hover{
    color:rgb(255, 255, 255);
}

.footer-site h3, .footer-social h3{
    font-size: 20px;
    padding-bottom:5px;
}  