html,body{
    overflow: hidden;
}

html,* { cursor: none; }

.mainContent{
    display:block;
    height:100vh;
    overflow: scroll;
    scroll-snap-type: y mandatory;
}

section{
    width:100%;
    height:100%;
    position: relative;
}

section::after {
    content: "";
    clear: both;
    display: table;
}

.about{
    height:fit-content;
}

.skills{
    height:fit-content;
    margin: 30vh auto;
}

.contact{
    height:fit-content;
    margin: 30vh auto;
}


.contentSnap{
    scroll-snap-align: center;
}

.scroll-text{
    position:absolute;
    opacity:0.15;
    font-size:20rem;
    top: 50%;
    right: 0;
    transform:translateY(-50%);
    white-space: nowrap;
    z-index: -1;
    transition: all 0.5s;
    font-weight: normal;
}

/* title */

.contentTitle{
    display:block;
    margin:auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.contentTitle h3{
    font-weight: normal;
    text-decoration:none;
    font-size:1.5em;
    margin-bottom:-2rem;
    display:block;
    text-align: center;
}

.contentTitle img{
    height:35vh;
    margin: 0 auto 1rem auto;
    display:block;
}

.contentAbout{
    display:block;
    margin: 0 auto;
    width:90%;
}

.contentAbout h3{
    font-size: clamp(2.8rem, 2.18rem + 3.37vw, 4.5rem);
    font-weight: normal;
    margin: 3rem 0;
}

.contentAboutFacts{
    display:block;
    margin: 0 auto;
    width:90%;
}

.contentAboutFacts::after {
    content: "";
    clear: both;
    display: table;
}

.fact{
    width:49%;
    display:block;
    float:left;
    height:6.5rem;
}

.fact:nth-child(even){
    float: right;
}

.fact h4{
    font-size:1.4rem;
    margin-bottom:0.5rem;
}

.fact p{
    font-size:1.6rem;
}

.contentSkills{
    display:block;
    margin: 10vh auto;
    width:90%;
}

.mobile-heading{
    display:none;
    font-size:2.2rem;
    font-weight: normal;
}

.skillBlock{
    width:100%;
    display:block;
    float:left;
}

.skill{
    float:left;
    font-size:1.8rem;
    width:49%;
    display:block;
    height:6.5rem;
    margin:5vh auto;
}

.skill:nth-child(1){
    float:right;
}

.contentContact{
    display:block;
    margin: 0 auto;
    width:90%;
}

.contactLinks a{
    display:inline-block;
    padding: 1rem;
    width:fit-content;
    margin: 0 auto;
    transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.contactLinks a:hover{
    transform: scale(1.2);
}

@media only screen and (max-width: 600px) {
    .fact{
        width:100%;
    }

    .skill{
        width:100%;
    }

    .skills{
        margin: 10vh auto 5vh auto;
    }


    .scroll-text:nth-child(2){
        display:none;
    }

    .mobile-heading{
        display:block;
    }

}