.mainContent{
    display:block;
    margin-left:100px; 
}

.contentBlock{
    width:100%;
    height:100%;
}

/* title */

.contentTitle{
    width:50%;
    float:left;
    position: absolute;
    top: 50%;
    left:15%;
    transform: translateY(-50%);
    text-align:left;
}

.contentTitle h3{
    font-weight: normal;
    text-decoration:none;
    font-size:70px;
    margin-bottom:-2rem;
    display:block;
}

.contentTitle h2{
    font-weight: normal;
    text-decoration:none;
    font-size:150px;
    display:block;
}

.contentIconsG1{
    position:absolute;
    top:0;
    left:0;
    z-index:-1;
}

.G1_1{
    position:absolute;
    top:6vh;
    left:10vw;
}

.G1_2{
    position:absolute;
    top:70vh;
    left:25vw;
}

.G1_3{
    position:absolute;
    top:12vh;
    left: 35vw;
}

.contentImage{
    width:50%;
    height:100%;
    float:right;

}
.contentImage img{
    height:100vh;
    width:100%;
    object-fit:cover;
    float:right;
}